<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita beatae dicta quasi architecto nobis repellat suscipit, reprehenderit quos error laborum eos veritatis, sapiente repudiandae. Modi repudiandae dicta hic enim repellat.</p>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita beatae dicta quasi architecto nobis repellat suscipit, reprehenderit quos error laborum eos veritatis, sapiente repudiandae. Modi repudiandae dicta hic enim repellat.</p>